body {
    background-color: black; 
    margin: 0px; 
    padding: 0px; 
    color: white; 
    text-align: center;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    overflow: hidden;
    line-height: 1;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align:center
}
#timer{
    margin-top: 5vh;
    font-size: 65vh;
}
#timer + div{
    margin-top: 6vh;
}
#timer_title {
    background-color: white;
    color: black;
    font-size: 13vh;
}
